* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf3e0;
}

.header {
  text-align: center;
  background-color: #36251e;
  padding: 16px;
  color: #faf3e0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background-color: #faf3e0;
  color: #36251e;
  min-height: 100vh;
  text-align: center;
}

.mainContent h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.mainContent input {
  height: 30px;
  width: 500px;
  max-width: 700px;
  border-radius: 4px;
  margin: 6px auto;
  text-align: center;
  border: 2px solid #36251e;
}

#descricaoTarefa {
  height: 50px;
}

.mainContent input:focus,
.mainContent input:hover {
  outline: none;
  cursor: pointer;
}

#button,
#ordenar {
  margin: 10px auto;
  width: 200px;
  height: 30px;
  background-color: #36251e;
  color: #faf3e0;
  border-radius: 4px;
  border: none;
}

#button:hover,
#ordenar:hover {
  scale: 1.025;
  cursor: pointer;
}

#line {
  height: 2px;
  width: 100%;
  max-width: 600px;
  background-color: #36251e;
  justify-content: center;
  margin: 40px auto;
}

#tarefas {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.containerTarefa {
  margin: 20px auto;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  border: 2px solid #36251e20;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  background-color: #fffdf8;
}

.containerTarefa.pendente {
  border-left: 6px solid #f4af30;
}

.containerTarefa.andamento {
  border-left: 6px solid #9381ff;
}

.containerTarefa.concluida {
  border-left: 6px solid #5f8651;
}

.containerTarefa p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  max-width: 500px;
  margin-top: 10px;
}

.containerTarefa div {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 20px;
  margin-top: 14px;
}

.containerTarefa span {
  align-self: flex-end;
}

.containerTarefa button {
  height: 30px;
  width: 140px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: #eee;
}

.containerTarefa button:hover {
  cursor: pointer;
}

.pendente.ativo,
button.pendente:hover {
  background-color: #f4af30;
}

.andamento.ativo,
button.andamento:hover {
  background-color: #9381ff;
}

.concluida.ativo,
button.concluida:hover {
  background-color: #5f8651;
}

.venceu {
  opacity: 0.6;
}
